@mixin header($color) {
  width: auto;
  color:  $color;
  max-height: 43px;
  margin-left: 16px;
  display: block;
  font-size: 36px;
  font-weight: 600;
  font-family: 'SF Pro Text', Helvetica, sans-serif;
}

@mixin flex($direction) {
  width: 100%;
  display:flex;
  flex-direction: ($direction);
}

@mixin addTaskGroup($width) {
  height: 22px;
  width: $width;
  font-size: 18px;
  align-self: center;
  border: none;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == 390 {
    @media screen and (max-width: 390px) {
      margin-top: 10px; 
    }
  }
  @if $breakpoint == 500 {
    @media screen and (max-width: 500px) {
      margin-left: 10px;
    }
  }
}